[submodule "lib/chibios"]
	path = lib/chibios
	url = https://github.com/qmk/ChibiOS
	branch = master
[submodule "lib/chibios-contrib"]
	path = lib/chibios-contrib
	url = https://github.com/qmk/ChibiOS-Contrib
	branch = master
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/qmk/googletest
[submodule "lib/lufa"]
	path = lib/lufa
	url = https://github.com/qmk/lufa
[submodule "lib/vusb"]
	path = lib/vusb
	url = https://github.com/qmk/v-usb
[submodule "lib/printf"]
	path = lib/printf
	url = https://github.com/qmk/printf
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/qmk/pico-sdk.git
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/qmk/lvgl.git
	branch = release/v8.2
[submodule "keyboards/ilovbee/b87"]
	path = keyboards/ilovbee/b87
	url = git@github.com:EBADBEEF/ilovbee_b87.git
[submodule "keyboards/royalkluge/r75"]
	path = keyboards/royalkluge/r75
	url = https://ghfast.top/https://github.com/iamdanielv/kb_rk_r75.git
[submodule "keyboards/royalkluge/r65"]
	path = keyboards/royalkluge/r65
	url = https://ghfast.top/https://github.com/iamdanielv/kb_rk_r65.git
